[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
dj-database-url = "*"
django-crispy-forms = "*"
django-storages = "*"
gunicorn = "*"
pillow = "*"
psycopg2 = "*"
python-decouple = "*"

[dev-packages]
coverage = "*"
coveralls = "*"

[requires]
